<h1 id="entry-header">I NEED A DATE IDEA</h1>
<div class="date-idea-container">
</div>

<script id="entry-template" type="text/x-handlebars-template">
    <h1>YOU SHOULD...</h1>
    <p>{{copyOne}}</p>
    <p>{{copyTwo}}</p>
    <div class="button-panel">
      <div class="button">
        <a id="entry-header">I DON'T LIKE THAT IDEA</a>
      </div>
      <div class="button">
        <a href={{link}}>I LIKE THAT IDEA</a>
      </div>
    </div>
</script>
