<div class="date-idea-container">HI</div>

<script id="entry-template" type="text/x-handlebars-template">
    <h1>YOU SHOULD...</h1>
    <p>{{copyOne_1}}<span class="idea-title">{{title}}</span>{{copyOne_2}}</p>
    <p>{{copyTwo}}</p>
    <div class="button-panel" id="next-idea">
      <div class="button" id="get-info-button">
        <a>I DON'T LIKE THAT IDEA</a>
      </div>
      <div class="button" id="idea-link">
        <a>I LIKE THAT IDEA</a>
      </div>
    </div>
</script>
