// Place all the styles related to the dates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  color: #424242;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin-top: 10%;
}

p {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
}


.date-idea-container {
  text-align: center;
}

.button-panel {
  margin-top: 70px;
}
.button {
  font-weight: bold;
  height: 40px;
  width: 80px;
  display: inline;
  border: 5px solid #424242;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
}

#entry-header {
	font-size: 100px;
}
